alembic==1.8.0
bcrypt==3.2.2
certifi==2022.5.18.1
cffi==1.15.0
greenlet==1.1.2; python_version >= '3' and (platform_machine == 'aarch64' or (platform_machine == 'ppc64le' or (platform_machine == 'x86_64' or (platform_machine == 'amd64' or (platform_machine == 'AMD64' or (platform_machine == 'win32' or platform_machine == 'WIN32'))))))
hupper==1.10.3
mako==1.2.0
markupsafe==2.1.1
minio==7.1.8
orjson==3.7.2
passlib==1.7.4
pastedeploy==2.1.1
plaster-pastedeploy==0.7
plaster==1.0
psycopg2-binary==2.9.3
pycparser==2.21
pydantic==1.9.1
pygments==2.12.0
pyramid-debugtoolbar==4.9
pyramid-mako==1.1.0
pyramid-sqlalchemy==1.6
pyramid==2.0
python-dotenv==0.20.0
repoze.lru==0.7
sqlalchemy==1.4.37
transaction==3.0.1
translationstring==1.4
typing-extensions==4.2.0
urllib3==1.26.9
venusian==3.0.0
waitress==2.1.2
webob==1.8.7
wtforms==3.0.1
zope.deprecation==4.4.0
zope.interface==5.4.0
zope.sqlalchemy==1.6
